<!DOCTYPE html>
<html>
<head>
    <title>My Layout</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <div class="Home">
        <div class ="top-text">
            <img class="image-2" src="../static/images/ltu_logo.png">
            <a class="leedstrinityacuk" href="https://www.leedstrinity.ac.uk/">
                leedstrinity.ac.uk
            </a>
        </div>
        <div class="main-text">
            <span class="Discover-roles-in-digital">
                Discover roles in digital
            </span>
            <span class="get-to-know">
                Get to know what roles you're best suited to
            </span>
            <div class="buttons">
                <a class="GS-button" href="{{ url_for('details') }}">Get started</a>
                <div class="LM-button">
                    <p>Learn More</p>
                </div>
            </div>
        </div>
        <div class="left-rectangles">
            <div class="Rectangle-2">
                <div class="Rectangle-1"></div>
            </div>
        </div>
        <div class="right-rectangles">
            <div class="Rectangle-2">
                <div class="Rectangle-1"></div>
            </div>
        </div>
    </div>
</body>
</html>