<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="../static/css/job-info.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Neue Haas Grotesk Display Pro:wght@400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="description">
    		<div class="leedstrinityacuk">leedstrinity.ac.uk</div>
    		<div class="frame-parent">
      			<div class="frame-group">
        				<div class="frame-container">
          					<div class="frame-div">
            						<div class="frame-div">
              							<div class="entry-level-ux-analyst-parent">
                								<div class="entry-level-ux">Entry Level UX Analyst</div>
                								<div class="frame-parent2">
                  									<div class="user-parent">
                    										<img class="user-icon" alt="" src="User.svg">
                    										
                    										<div class="entry-level-ux">1</div>
                  									</div>
                  									<div class="user-parent">
                    										<img class="user-icon" alt="" src="Credit card.svg">
                    										
                    										<div class="entry-level-ux">£25,600</div>
                  									</div>
                  									<div class="user-parent">
                    										<img class="user-icon" alt="" src="Map pin.svg">
                    										
                    										<div class="entry-level-ux">Leeds</div>
                  									</div>
                								</div>
              							</div>
              							<img class="frame-child" alt="" src="Vector 2.svg">
              							
            						</div>
            						<div class="frame-wrapper">
              							<div class="skills-you-need-parent">
                								<div class="entry-level-ux">Skills you need:</div>
                								<div class="frame-parent3">
                  									<div class="communication-wrapper">
                    										<div class="entry-level-ux">Communication</div>
                  									</div>
                  									<div class="communication-wrapper">
                    										<div class="entry-level-ux">Analytical</div>
                  									</div>
                  									<div class="communication-wrapper">
                    										<div class="entry-level-ux">Attitude</div>
                  									</div>
                  									<div class="communication-wrapper">
                    										<div class="entry-level-ux">Organisation</div>
                  									</div>
                  									<div class="communication-wrapper">
                    										<div class="entry-level-ux">Problem-solving</div>
                  									</div>
                  									<div class="communication-wrapper">
                    										<div class="entry-level-ux">Prototyping</div>
                  									</div>
                								</div>
              							</div>
            						</div>
          					</div>
          					<div class="instance-wrapper">
            						<div class="wrapper">
              							<div class="entry-level-ux">Apply for this job</div>
            						</div>
          					</div>
        				</div>
        				<div class="frame-parent4">
          					<div class="frame-parent5">
            						<div class="frame-div">
              							<div class="frame-div">
                								<div class="your-skill-distribution-wrapper">
                  									<div class="entry-level-ux">Your skill distribution</div>
                								</div>
                								<img class="frame-child" alt="" src="Vector 2.svg">
                								
              							</div>
              							<div class="your-role-as-a-ux-researcher-w-parent">
                								<div class="your-role-as">Your role as a UX researcher will be to deliver the best possible experience for the users of ... UX researcher roles cross over with that of UX analyst, UX designer and UX ... Depending on your level of experience, you could expect to earn between £250 ... There are a variety of entry routes into a career as a UX researcher.</div>
                								<div class="other-skills-you-need-parent">
                  									<div class="entry-level-ux">Other skills you need:</div>
                  									<div class="frame-parent3">
                    										<div class="communication-wrapper">
                      											<div class="entry-level-ux">Communication</div>
                    										</div>
                    										<div class="communication-wrapper">
                      											<div class="entry-level-ux">Analytical</div>
                    										</div>
                    										<div class="communication-wrapper">
                      											<div class="entry-level-ux">Attitude</div>
                    										</div>
                    										<div class="communication-wrapper">
                      											<div class="entry-level-ux">Organisation</div>
                    										</div>
                    										<div class="communication-wrapper">
                      											<div class="entry-level-ux">Problem-solving</div>
                    										</div>
                    										<div class="communication-wrapper">
                      											<div class="entry-level-ux">Prototyping</div>
                    										</div>
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="instance-container">
              							<div class="wrapper">
                								<div class="entry-level-ux">Learn more</div>
              							</div>
            						</div>
          					</div>
          					<div class="frame-wrapper1">
            						<div class="frame-div">
              							<div class="frame-div">
                								<div class="your-skill-distribution-wrapper">
                  									<div class="entry-level-ux">Job description</div>
                								</div>
                								<img class="frame-child" alt="" src="Vector 2.svg">
                								
              							</div>
              							<div class="job-type-full-time-department-wrapper">
                								<div class="your-role-as">
                  									<p class="job-type-full-time">
                    										<span class="full-time">
                      											<span class="job-type">Job Type:</span>
                      											<span class="full-time"> Full-Time  </span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span class="full-time">
                      											<span class="job-type">Department</span>
                      											<span class="full-time">: User Experience (UX)  </span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span class="full-time">
                      											<span class="job-type">Reports to</span>
                      											<span>: Senior UX Designer / Product Manager</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span class="full-time">
                      											<span>&nbsp;</span>
                    										</span>
                  									</p>
                  									<p class="job-overview">Job Overview:</p>
                  									<p class="job-type-full-time">
                    										<span class="full-time">
                      											<span>&nbsp;</span>
                    										</span>
                  									</p>
                  									<p class="we-are-seeking-a-passionate-an">
                    										<span class="full-time">
                      											<span>We are seeking a passionate and detail-oriented **Entry Level UX Analyst** to join our growing UX team. In this role, you will work closely with senior designers, product managers, and developers to analyze and improve the user experience of our digital products. This position is ideal for recent graduates or individuals with a keen interest in user research, data analysis, and UX design principles. You will assist in conducting user research, interpreting data, and delivering actionable insights to enhance user interactions with our products.</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span class="full-time">
                      											<span>&nbsp;</span>
                    										</span>
                  									</p>
                  									<p class="job-overview">
                    										<span>
                      											<span class="full-time">
                        												<span class="key-responsibilities2">Key Responsibilities</span>
                      											</span>
                      											<span class="full-time">
                        												<span class="full-time">:</span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span>
                      											<span class="full-time">
                        												<span>&nbsp;</span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span>
                      											<span class="full-time">
                        												<span>- Assist in conducting user research through interviews, surveys, usability tests, and other methods to gather insights about user needs and behaviors.</span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span>
                      											<span class="full-time">
                        												<span>- Analyze qualitative and quantitative data from user research to identify pain points and opportunities for improving the user experience.</span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span>
                      											<span class="full-time">
                        												<span>- Create user journey maps, personas, and wireframes to help visualize user flows and product enhancements.</span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span>
                      											<span class="full-time">
                        												<span>- Collaborate with UX designers and developers to ensure the implementation of user-centered design principles in the development of new features.</span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span>
                      											<span class="full-time">
                        												<span>- Assist in the preparation and presentation of research findings to stakeholders and team members.</span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span>
                      											<span class="full-time">
                        												<span>- Participate in competitive analysis to stay informed of industry trends and best practices.</span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span>
                      											<span class="full-time">
                        												<span>- Help monitor product usability metrics and provide recommendations for continuous improvements.</span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span>
                      											<span class="full-time">
                        												<span>- Support in maintaining and organizing research databases, design libraries, and documentation.</span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span>
                      											<span class="full-time">
                        												<span>&nbsp;</span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="required-skills-qualificatio">
                    										<span>
                      											<span class="full-time">
                        												<span>Required Skills & Qualifications:</span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span>
                      											<span class="full-time">
                        												<span class="full-time">&nbsp;</span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span>
                      											<span class="full-time">
                        												<span class="full-time">- Bachelor’s degree in Human-Computer Interaction (HCI), Psychology, Design, or a related field.  </span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span>
                      											<span class="full-time">
                        												<span class="full-time">- Basic knowledge of UX design principles and best practices.  </span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span>
                      											<span class="full-time">
                        												<span class="full-time">- Familiarity with UX research methods, including usability testing, surveys, and interviews.  </span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span>
                      											<span class="full-time">
                        												<span class="full-time">- Experience with design tools (e.g., Figma, Sketch, Adobe XD) and prototyping tools is a plus.  </span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span>
                      											<span class="full-time">
                        												<span class="full-time">- Strong analytical skills and attention to detail.  </span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span>
                      											<span class="full-time">
                        												<span class="full-time">- Ability to translate research findings into actionable design recommendations.  </span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span>
                      											<span class="full-time">
                        												<span class="full-time">- Excellent communication skills, both written and verbal.  </span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span>
                      											<span class="full-time">
                        												<span class="full-time">- Team player with a willingness to learn and grow in a fast-paced environment.  </span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span>
                      											<span class="full-time">
                        												<span class="full-time">- Basic understanding of HTML, CSS, or other web technologies is a plus but not required.</span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span>
                      											<span class="full-time">
                        												<span class="full-time">&nbsp;</span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="required-skills-qualificatio">
                    										<span>
                      											<span class="full-time">
                        												<span>Preferred Qualifications:</span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span>
                      											<span class="full-time">
                        												<span class="full-time">&nbsp;</span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span>
                      											<span class="full-time">
                        												<span>- Experience working on projects or internships related to UX design, user research, or data analysis.</span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span>
                      											<span class="full-time">
                        												<span>- Familiarity with tools like Google Analytics, Hotjar, or other UX research tools is a plus.</span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span>
                      											<span class="full-time">
                        												<span>- Passionate about solving user problems and improving product usability.</span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span>
                      											<span class="full-time">
                        												<span>&nbsp;</span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="required-skills-qualificatio">
                    										<span>
                      											<span class="full-time">
                        												<span>Benefits:</span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span>
                      											<span>
                        												<span class="full-time">&nbsp;</span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span>
                      											<span>
                        												<span class="full-time">- Competitive salary and benefits package  </span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span>
                      											<span>
                        												<span class="full-time">- Mentorship and training opportunities for career growth  </span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span>
                      											<span>
                        												<span class="full-time">- Collaborative work environment with cross-functional teams  </span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span>
                      											<span>
                        												<span class="full-time">- Access to cutting-edge tools and resources  </span>
                      											</span>
                    										</span>
                  									</p>
                  									<p class="job-type-full-time">
                    										<span>
                      											<span>
                        												<span class="full-time">- Flexible working hours and remote work options  </span>
                      											</span>
                    										</span>
                  									</p>
                								</div>
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
      			<div class="frame-parent11">
        				<div class="filter-by-price-parent">
          					<div class="your-role-as">Filter by price:</div>
          					<div class="slider">
            						<div class="bg">
            						</div>
            						<img class="fill-icon" alt="" src="Fill.svg">
            						
            						<div class="steps">
              							<div class="div4">
                								<div class="k">£20k</div>
              							</div>
              							<div class="div5">
                								<div class="div6">1</div>
              							</div>
              							<div class="div5">
                								<div class="div6">2</div>
              							</div>
              							<div class="div9">
                								<div class="div10">3</div>
              							</div>
              							<div class="div9">
                								<div class="div10">4</div>
              							</div>
              							<div class="div9">
                								<div class="div6">5</div>
              							</div>
              							<div class="div15">
              							</div>
              							<div class="div9">
                								<div class="div6">7</div>
              							</div>
              							<div class="div9">
              							</div>
              							<div class="div9">
                								<div class="div10">9</div>
              							</div>
              							<div class="div21">
                								<div class="k1">£100k</div>
              							</div>
            						</div>
          					</div>
        				</div>
        				<div class="showing-jobs-in-parent">
          					<div class="your-role-as">Showing jobs in:</div>
          					<div class="pills-parent">
            						<div class="pills">
              							<img class="check-box-icon" alt="" src="check_box.svg">
              							
              							<div class="entry-level-ux">East Midlands</div>
            						</div>
            						<div class="pills">
              							<img class="check-box-icon" alt="" src="check_box.svg">
              							
              							<div class="entry-level-ux">West Midlands</div>
            						</div>
            						<div class="pills">
              							<img class="check-box-icon" alt="" src="check_box.svg">
              							
              							<div class="entry-level-ux">North West</div>
            						</div>
            						<div class="pills">
              							<img class="check-box-icon" alt="" src="check_box.svg">
              							
              							<div class="entry-level-ux">North East</div>
            						</div>
            						<div class="pills">
              							<img class="check-box-icon" alt="" src="check_box.svg">
              							
              							<div class="entry-level-ux">London</div>
            						</div>
            						<div class="pills5">
              							<img class="check-box-icon" alt="" src="check_box.svg">
              							
              							<div class="entry-level-ux">Yorkshire and The Humber</div>
            						</div>
            						<div class="pills">
              							<img class="check-box-icon" alt="" src="check_box.svg">
              							
              							<div class="entry-level-ux">East of England</div>
            						</div>
            						<div class="pills">
              							<img class="check-box-icon" alt="" src="check_box.svg">
              							
              							<div class="entry-level-ux">South East</div>
            						</div>
            						<div class="pills">
              							<img class="check-box-icon" alt="" src="check_box.svg">
              							
              							<div class="entry-level-ux">South West</div>
            						</div>
          					</div>
        				</div>
        				<div class="frame-parent12">
          					<div class="helpful-resources-wrapper">
            						<div class="entry-level-ux">Helpful resources</div>
          					</div>
          					<img class="frame-child" alt="" src="Vector 2.svg">
          					
        				</div>
      			</div>
    		</div>
    		<a href="{{ url_for('home') }}">
    			<img class="home-icon" alt="" src="../static/images/Home.svg">
    		</a>
  	</div>
  	
</body>
</html>